#filmDetail .youtube iframe {
	margin-top: 20px;
	border: 2px solid #ee4b64;
}
#filmDetail .youtube .sr {
	color: #ee4b64;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
#filmDetail .detail {
	margin-top: 21px;
}
#filmDetail .detail .image img {
	border-radius: 0px;
	width: 200px;
	height: 290px;
	border: 2px solid #ee4b64;
}
#filmDetail .detail .image a {
	background-color: #ee4b64;
	color: white;
	border-radius: 0px;
	border: none;
	width: 200px;
	height: 50px;
	font-size: 20px;
	display: block;
	text-align: center;
	padding-top: 10px;
}
#filmDetail .detail .image a:hover {
	background-color: #f77777;
	text-decoration: none;
}
#filmDetail .content > div {
	padding-bottom: 15px;
}
#filmDetail .content > div span:nth-child(1) {
	color: grey;
	font-size: 15px;
}
#filmDetail .content > div span:nth-child(2) {
	color: #ee4b64;
	font-size: 20px;
}
#filmDetail iframe {
	width: 100%;
	height: 340px;
	border: none;
}
#filmDetail .content a .fa-facebook-official {
	color: #3b5998;
	padding: 0px 10px 0px 20px;
}
#filmDetail .content a .fa-facebook-official:hover {
	color: #557fd8;
}
#filmDetail .content a .fa-twitter {
	color: #28aae1;
	padding: 0px 10px;
}
#filmDetail .content a .fa-twitter:hover {
	color: #2ec1ff;
}
#filmDetail .content a .fa-google-plus-official {
	color: #d41d1d;
	padding: 0px 10px;
}
#filmDetail .content a .fa-google-plus-official:hover {
	color: #ed2323;
}
#filmDetail .description {
	background-color: #f9f9f9;
	color: #ee4b64;
	font-size: 18px;
	padding: 20px;
}